<form method="post" action="{{ path('app_calendar_delete', {'id': calendar.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer cet évenement?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ calendar.id) }}">
    <div class="d-flex justify-content-center">
    <button class="btn btn-danger shadow" >Supprimer</button>
    </div>
</form>
