{% extends 'base.html.twig' %}

{% block title %}Events{% endblock %}

{% block body %}
    

<div class="container">
    <h1 class="text-center">Créer évenement</h1>
        {{ include('calendar/_form.html.twig') }}
        <a href="{{ path('app_calendar_index') }}" class="btn btn-outline-primary shadow m-sm-2">Retour</a>
</div>
{% endblock %}


