{% extends 'base.html.twig' %}

{% block title %}Connecte toi !{% endblock %}

{% block body %}
{% for notification in app.flashes('success')%}
<div class="alert alert-success col-md-6 mx-auto text-center">{{notification}}</div>
{% endfor %}


<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-primary text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <h1 class="h3 mb-3 font-weight-normal text-center">Connecte toi </h1>
                            <p class="text-white-50 mb-5">Saisissez votre mail et votre mot de passe !</p>
                                <label for="inputEmail">Email</label>
                                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                                    <label for="inputPassword">Mot de passe</label>
                                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                                <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Mot de passe oublié ?</a></p>
                            <input type="hidden" name="_csrf_token"value="{{ csrf_token('authenticate') }}">
                        <button class="btn btn-outline-light btn-lg px-5 mt-4" type="submit">Connexion</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
