{% extends 'base.html.twig' %}

{% block title %}Playgrounds{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <iframe src="https://data.iledefrance.fr/explore/embed/dataset/recensement_des_equipements_sportifs_a_paris/map/?disjunctive.actlib&refine.actlib=Basket-Ball&refine.equipementtypelib=Terrain%20de%20basket-ball&location=13,48.85863,2.35702&basemap=mapbox.outdoors&static=false&datasetcard=false&scrollWheelZoom=true" width="100%" height="600" frameborder="0"></iframe>
        </div>
    </div>
</div>


{% endblock %}



