<form method="post" action="{{ path('app_admin_terrain_delete', {'id': terrain.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ terrain.id) }}">
    <button class="btn btn-outline-primary shadow mt-2">Supprimer</button>
</form>
